{% extends 'base.html.twig' %}
{% block title %} Edit Contact {% endblock %}


{% block body %}

	<h1 style="width:100%;">Edit Contact</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}


{% endblock %}