{% extends 'base.html.twig' %}
{% block title %} Hello Title {% endblock %}


{% block body %}

<h1 style="width:100%">Contact</h1>

<p style="width:100%"> Name : {{ contact.name }}</p>

<p style="width:100%"> Address : {{ contact.address }}</p>

<p style="width:100%"> Phone : {{ contact.phone }}</p>


{% endblock %}